// app/layout.styl

@import '../_variables'
@import '../_mixins'


// you styles here:

.navbar-nav>.active>a
    border: 1px solid #333; 

body
    background-color: #222
    margin: 0
    padding-top: 50px

.container
    width: 100vw
    padding: 0

#content
    height: calc(unquote('100vh - 50px'))

.tab
    float: left
    height: 100%

#nav,#form,#map
    border-width: 0 5px 0 0
    border-style: solid
    border-image:
        linear-gradient(to left, rgba(0, 0, 0, 1), rgba(84, 84, 84, 0.8)) 1 100%

#nav
    background-color: yellow
    width: 10vw

#form
    background-color: orange
    width: 35vw
    overflow-y: auto
    overflow-x: hidden

#map
    background-color: green
    width: 45vw

#utils
    background-color: brown
    // wenn nicht -1px
    // bricht utils beim Schieben auf die nächste Zeile
    width: 10vw