.navbar-nav>.active>a {
  border: 1px solid #333;
}
body {
  background-color: #222;
  margin: 0;
  padding-top: 50px;
}
.container {
  width: 100vw;
  padding: 0;
}
#content {
  height: calc(100vh - 50px);
}
.tab {
  float: left;
  height: 100%;
}
.tabTitleContainer {
  height: 30px;
  background-color: rgba(210,210,210,0.2);
  padding: 5px;
}
.tabSeparator {
  height: 100%;
  width: 8px;
  right: 0;
  cursor: col-resize;
  background-image: linear-gradient(to left, #000 0%, rgba(84,84,84,0.8) 100%);
  z-index: 1;
}
#nav {
  background-color: #ff0;
  width: 10vw;
  /*overflow-x: auto;
  overflow-y: hidden;*/
}
#form {
  background-color: #ffa500;
  width: 35vw;
  overflow-y: auto;
  overflow-x: hidden;
}
#map {
  background-color: #008000;
  width: 45vw;
}
#utils {
  background-color: #a52a2a;
  width: calc(10vw - 1px);
}

/* form */
#form .reducedMargin {
  margin-top: -13px;
}

/* jstree */

#navContent {
  width: calc(100% - 8px);
}

#formContent {
  width: calc(100% - 8px);
  max-width: calc(100% - 8px);
  padding: 5px 5px 5px 5px;
}

#navContent ul {
  /*color: red;*/
  width: 100%;
}

#navContent ul ul {
  /*color: blue;*/
}

#navContent ul ul ul {
  /*color: green;*/
}

#navContent .jstree-icon {
  width: 20px;
}

#navContent .jstree-node {
  margin-left: 16px;
}

@media (max-width: 768px) {
   #navContent .jstree-icon {
    width: 40px;
  }
  #navContent .jstree-wholerow {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#navContent .jstree-node[aria-level="1"] {
  margin-left: 0;
}