body {
  background-color: #222;
  margin: 0;
  padding-top: 50px;
}
.navbar-nav>.active>a {
  border: 1px solid #333;
}
.contentContainer {
  width: 100vw;
  padding: 0;
}
#content {
  height: calc(100vh - 50px);
}
.tab {
  float: left;
  height: 100%;
}
.tabTitleContainer {
  height: 30px;
  background-color: rgba(210,210,210,0.2);
  padding: 6px 10px;
  text-transform: uppercase;
}
.tabSeparator {
  height: 100%;
  width: 8px;
  right: 0;
  bottom: 0;
  cursor: col-resize;
  background-image: linear-gradient(to left, #000 0%, rgba(84,84,84,0.8) 100%);
  z-index: 1;
}
.scrollbar .ps-scrollbar-y-rail {
  right: 10px;
}

#signinWithModal .well {
  background-color: #D7E8D3;
}

/* 
 * NAV 
 */

#nav {
  background-color: #FFFFB5;
  width: 30vw;
  overflow: hidden;
}
#navContent {
  width: calc(100% - 8px);
}
#navContent ul {
  width: 100%;
}
#navContent .jstree-icon {
  width: 20px;
}
#navContent .jstree-node {
  margin-left: 8px;
}
@media (max-width: 768px) {
   #navContent .jstree-icon {
    width: 40px;
  }
  #navContent .jstree-wholerow {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#navContent .jstree-node[aria-level="1"] {
  margin-left: 0;
}

/* 
 * FORM 
 */

#form {
  background-color: #FFCE75;
  width: 70vw;
  overflow: hidden;
}
#formContent {
  width: calc(100% - 8px);
  max-width: calc(100% - 8px);
  padding: 5px 14px 5px 10px;
}
#formContent .ui-sortable-handle {
  border: solid rgb(234, 118, 118) 1px;
  cursor: move;
  background-color: rgb(255, 187, 156);
}
#formSeparator {
  display: none;
}
#form .reducedMargin {
  margin-top: -13px;
}
#form .btn-toolbar {
  position: relative;
}
#form .btn-group {
  position: fixed;
  bottom: 5px;
}

/* 
 * MAP 
 */

#map {
  background-color: #222;
  width: 45vw;
  display: none;
}

#map .tabTitleContainer {
  position: absolute;
  width: inherit;
  z-index: 1;
}

/* 
 * UTILS 
 */

#utils {
  background-color: #FFBCBC;
  width: calc(10vw - 1px);
  display: none;
}