body {
  background-color: #222;
  margin: 0;
  padding-top: 50px;
  overflow: hidden;
}
.navbar-nav>.active>a {
  border: 1px solid #333;
}
.contentContainer {
  width: 100vw;
  padding: 0;
}
#content {
  height: calc(100vh - 50px);
}
.tab {
  float: left;
  height: 100%;
}
.tabTitleContainer {
  height: 30px;
  background-color: rgba(210,210,210,0.2);
  padding: 6px 10px;
  text-transform: uppercase;
}

#map .tabTitle {
  position: absolute;
  top: 8px;
  left: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px white,1px 0 1px white,0 -1px 1px white,-1px 0 1px white,0 2px 1px white,2px 0 1px white,0 -2px 1px white,-2px 0 1px white;
  z-index: 1;
}
.tabSeparator {
  height: 100%;
  width: 8px;
  right: 0;
  bottom: 0;
  cursor: col-resize;
  background-image: linear-gradient(to left, #000 0%, rgba(84,84,84,0.8) 100%);
  z-index: 1;
}
.scrollbar .ps-scrollbar-y-rail {
  right: 10px;
}

#signinWithModal .well {
  background-color: #D7E8D3;
}

/* 
 * NAV 
 */

#nav {
  background-color: #FFFFB5;
  width: 20vw;
  overflow: hidden;
}
#navContent {
  width: calc(100% - 8px);
}
#navContent ul {
  width: 100%;
}
#navContent .jstree-icon {
  width: 20px;
}
#navContent .jstree-node {
  margin-left: 8px;
}
@media (max-width: 768px) {
   #navContent .jstree-icon {
    width: 40px;
  }
  #navContent .jstree-wholerow {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#navContent .jstree-node[aria-level="1"] {
  margin-left: 0;
}

/* 
 * FORM 
 */

#form {
  background-color: #FFCE75;
  width: 80vw;
  overflow: hidden;
}
#formContent {
  width: calc(100% - 8px);
  max-width: calc(100% - 8px);
  padding: 5px 14px 5px 10px;
}
#formContent .ui-sortable-handle {
  border: solid rgb(234, 118, 118) 1px;
  cursor: move;
  background-color: rgb(255, 187, 156);
}
#formSeparator {
  display: none;
}
#form .reducedMargin {
  margin-top: -13px;
}
#form .btn-toolbar {
  position: relative;
}
#form .btn-group {
  position: fixed;
  bottom: 5px;
}

/* 
 * MAP 
 */

#map {
  background-color: #222;
  width: 45vw;
  display: none;
}

#map .tabTitleContainer {
  position: absolute;
  width: inherit;
  z-index: 1;
  /*Text weiss hinterlegen, damit er auf jedem Hintergrund gut sichtbar ist*/
  text-shadow: 0 1px 1px white,1px 0 1px white,0 -1px 1px white,-1px 0 1px white,0 2px 1px white,2px 0 1px white,0 -2px 1px white,-2px 0 1px white;
}

/*Koordinatenanzeige gestalten*/
#map .ol-mouse-position {
  font-weight: 900;
  font-size:  14px;
  /*Koordinaten weiss hinterlegen, damit sie auf jedem Hintergrund gut sichtbar sind*/
  text-shadow: 0 1px 1px white,1px 0 1px white,0 -1px 1px white,-1px 0 1px white,0 2px 1px white,2px 0 1px white,0 -2px 1px white,-2px 0 1px white;
  top:    auto;
  bottom:  2px;
  right:   12px;
  position: absolute;
}

#map .ol-zoom {
  top: 2em;
}

#map .ol-attribution {
  top: 0;
  right: 7px;
  border-radius: 0 4px 0;
}

#map .layers-control {
  position: absolute;
  top:   15px;
  right: 10px;
  background-color: rgba(0,60,136,.5);
  border-radius: 4px;
  color: #eee;
}

/* 
 * UTILS 
 */

#utils {
  background-color: #AD5800;
  width: calc(10vw - 1px);
  display: none;
}

.utilsAccordion {
  margin-bottom: -10px;
}

#utils .panel-group .panel + .panel {
  margin-top: 0;
}

#utils .panel-group .panel {
  border-radius: 0;
}

#utils .panel-title {
  font-size: 14px;
}

#utils .panel-heading {
  padding: 7px 5px;
  background-color: #ECECEC;
}

#utils .panel-collapse {
  padding: 0 5px;
}

#utils #utilsLayertoolAccordion {
  padding-left:  0;
  padding-right: 0;
  /* verhindern, dass lange Worte das Layout zerstören */
  word-wrap: break-word;
}

#utils .js-utilsPanelGroupTitel > .panel-heading {
  background-color: #CFCFCF;
  border-radius: 0;
}

#utils .panel.js-layerPanel {
  border-left:  0;
  border-right: 0;
  border-bottom: 1px solid #CFCFCF;
}

#utils .js-layerPanel :last-child {
  border-bottom: 0;
}

#utils .panel {
  border: 0;
}

#utils .list-group {
  border-bottom: 1px solid #ECECEC;
  border-top: 0;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#utils .list-group .layerTitle {
  font-size: 14px;
}

#utils .lytListGroupLabelText {
  padding-top: 2px;
}

#utils .list-group .checkbox,
#utils .list-group .radio {
  margin-top: 0;
  margin-bottom: 2px;
}

#utilsEditLayer {
  display: none;
}

#utils .utilsEditColumns,
#utils .lytLayerColumns {
      /* Breite */
       -moz-column-width: 110px;
    -webkit-column-width: 110px;
            column-width: 110px;
    /* bootstrap setzt -15px */
    /*margin-left: 0;*/
    /* Trennung */
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
         -o-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
            column-break-inside: avoid;
}

#utilsLayertool a:focus,
#utilsEditLayer a:focus {
  text-decoration: none;
}

#utils .radio + button {
  margin-bottom: 5px;
}