section.page.home
  div#content
    div#nav.tab
      div.tabTitleContainer
        div.tabTitle nav
      div#navSeparator.tabSeparator.ui-resizable-handle.ui-resizable-e
    div#form.tab
      div.tabTitleContainer
        div.tabTitle form
      div#formSeparator.tabSeparator.ui-resizable-handle.ui-resizable-e
    div#map.tab
      div.tabTitleContainer
        div.tabTitle map
      div#mapSeparator.tabSeparator.ui-resizable-handle.ui-resizable-e
    div#utils.tab
      div.tabTitleContainer
        div.tabTitle utils