.navbar-nav>.active>a {
  border: 1px solid #333;
}
body {
  background-color: #222;
  margin: 0;
  padding-top: 50px;
}
.container {
  width: 100vw;
  padding: 0;
}
#content {
  height: -webkit-calc(100vh - 50px);
  height: -moz-calc(100vh - 50px);
  height: -ms-calc(100vh - 50px);
  height: -o-calc(100vh - 50px);
  height: calc(100vh - 50px);
}
.tab {
  float: left;
  height: 100%;
}
.tabTitleContainer {
  height: 30px;
  background-color: rgba(210,210,210,0.2);
  padding: 5px;
}
.tabSeparator {
  height: 100%;
  width: 8px;
  right: 0;
  cursor: col-resize;
  background-image: linear-gradient(to left, #000 0%, rgba(84,84,84,0.8) 100%);
}
.tabSeparator span {
  background: url("../images/handle-hor.png") center center no-repeat;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav {
  background-color: #ff0;
  width: 10vw;
}
#form {
  background-color: #ffa500;
  width: 35vw;
  overflow-y: auto;
  overflow-x: hidden;
}
#map {
  background-color: #008000;
  width: 45vw;
}
#utils {
  background-color: #a52a2a;
  width: 10vw;
}
