.navbar-nav>.active>a {
  border: 1px solid #333;
}
body {
  background-color: #222;
  margin: 0;
  padding-top: 50px;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
#content {
  height: -webkit-calc(100vh - 64px);
  height: -moz-calc(100vh - 64px);
  height: -ms-calc(100vh - 64px);
  height: -o-calc(100vh - 64px);
  height: calc(100vh - 64px);
}
.tab {
  float: left;
  height: 100%;
}
#nav,
#form,
#map {
  border-width: 0 5px 0 0;
  border-style: solid;
  border-image: linear-gradient(to left, #000, rgba(84,84,84,0.8)) 1 100%;
}
#nav {
  background-color: #ff0;
  width: 10%;
}
#form {
  background-color: #ffa500;
  width: 35%;
  overflow-y: auto;
  overflow-x: hidden;
}
#map {
  background-color: #008000;
  width: 45%;
}
#utils {
  background-color: #a52a2a;
  width: -webkit-calc(10% - 1px);
  width: -moz-calc(10% - 1px);
  width: -ms-calc(10% - 1px);
  width: -o-calc(10% - 1px);
  width: calc(10% - 1px);
}
